/***************************/
/* BELOW 1424px (Desktops) */
/***************************/

@media (max-width: 89em) {
    .container {
        max-width: 115rem;
    }
}

/***************************/
/* BELOW 1366px (Smaller desktops) */
/***************************/

@media (max-width: 86em) {
    html {
        font-size: 56.25%;
    }

    .container--extension-list {
        max-width: 90rem;
    }
}

/***************************/
/* BELOW 1168px (landscape tablets) */
/***************************/

@media (max-width: 73rem) {
    .container--header, 
    .container--hero,
    .container--detail-menu, 
    .container--footer {
        padding-left: 7rem;
        padding-right: 7rem;
    }

    .heading-primary {
        font-size: 4.2rem;
    }

    .container--extension-list {
        max-width: 90rem;
    }

    .features-menu-link, .text-description {
        font-size: 1.6rem;
    }
}

/***************************/
/* BELOW 944px (Tablets) */
/***************************/

@media (max-width: 59em) {
    html {
        font-size: 50%;
    }

    .container--header {
        justify-content: space-between;
    }

    .nav-open .container--header {
        padding: 0rem 10rem 0 13rem;
    }

    .logo-link {
        display: inline-block;
        z-index: 1000;
    }

    .nav--header .main-nav-link:link,
    .nav--header .main-nav-visited:visited {
        font-size: 1.8rem;
    }

    .btn-mobile-nav {
        display: block;
    }

    /* .nav--header > .main-nav-list {
        display: none;
    } */

    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .main-nav.nav--header {
        background-color: hsl(229, 31%, 21%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
        transform: translateX(100%);

        display: flex;
        justify-content: center;
        padding-top: 15rem;
        transition: all 0.5s ease-in;

        /* 1) Hide it visually */
        opacity: 0;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers */
        visibility: hidden;
    }

    .nav--header .main-nav-list {
        display: inline-block;
    }

    .nav--header > .main-nav-list {
        flex-direction: column;
        width: 100%;
        padding: 0 11rem 0 14rem;
        gap: 0;
    }

    .nav-links:not(:last-child) {
        border-bottom: 2px solid hsla(230, 10%, 76%, 0.2);
        width: 100%;
    }

    .nav-links:first-child {
        border-top: 2px solid hsla(230, 10%, 76%, 0.2);
    }

    .nav-links:last-child {
        margin-top: 2rem;
    }

    .nav-open .main-nav.nav--header {
        opacity: 0.97;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0%);
    }

    .icon-mobile-nav[name="menu"] {
        transform: translateX(60%);
    }

    .nav-open .icon-mobile-nav[name="menu"] {
        display: none;
    }

    .nav-open .icon-mobile-nav[name="close"] {
        display: block;
    }

    .nav--header .main-nav-link:link,
    .nav--header .main-nav-link:visited {
        display: block;
        color: hsl(0, 0%, 100%);
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 0.3rem;
        text-align: center;

        padding: 3rem 0;
    }

    .nav--login {
        margin-top: 4rem;
        background-color: transparent;
        border: 2px solid hsl(0, 0%, 100%);
    }

    .nav-links.icon-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-top: 28rem;
    }

    .container--hero {
        grid-template-columns: 1fr;
    }

    .hero-text-box, .hero-img-box {
        text-align: center;
    }

    .heading-primary {
        margin-top: 2rem;
    }

    .text-description {
        max-width: 50rem;
        font-size: 2.2rem;
        margin: 0 auto 5rem auto;
    }

    .hero-img-box {
        width: 90%;
        grid-row: 1;
    }
    
    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.8rem;
    }

    .features-section {
        padding: 12rem 0;
    }

    .features-menu-list {
        grid-template-columns: 1fr;
    }

    .menu-links {
        margin-top: 0;
        padding-top: 2.5rem;
        border-top: 1px solid hsl(0, 0%, 77%);
    }

    .menu-links:last-child {
        border-bottom: 1px solid hsl(0, 0%, 77%);
    }

    .menu-links.selected-page {
        box-shadow: none;
    }

    .selected-page > .features-menu-link {
        position: relative;
    }

    .selected-page > .features-menu-link::before {
        content: "";
        display: block;
        position: absolute;
        box-shadow: 0 -6px 0px -0.2rem hsl(0, 94%, 66%) inset;
        width: 90%;
        height: 100%;

        top: 50%;
        left: -50%;
        transform: translate(62%, 50%);
    }

    .features-menu-link {
        font-size: 2rem;
    }

    .container--detail-menu {
        padding-top: 10rem;
        grid-template-columns: 1fr;
    }

    .detail-img-box, .detail-text-box {
        text-align: center;
    }

    .detail-img-box {
        width: 90%;
    }

    .detail-text-box {
        margin-top: 13rem;
        max-width: 100%;
    }

    .container--features-description,
    .container--extension-description,
    .container--faq-description {
        padding: 0 5rem;
    }

    .container--features-menu {
        border: none;
        padding: 0 16rem;
    }

    .extension-section {
        padding-top: 0;
    }

    .container--extension-list {
        grid-template-columns: 30rem;
        justify-content: center;
        align-items: center;
    }

    .firefox {
        transform: none;
    }

    .opera {
        transform: none;
    }

    .faq-section {
        padding: 5rem 0 13rem 0;
    }

    .question-list:first-child {
        border-top: none;
    }

    .question-title {
        font-size: 2rem;
    }

    .more-info {
        font-size: 1.7rem;
        padding: 2rem 3rem;
    }

    .contact-joined {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    .contact-description {
        font-size: 3rem;
    }

    .contact-form {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .input-form.error .error-message {
        font-size: 1.5rem;
    }

    .input-form.error::after {
        left: 90%;
    
        transform: translate(30%, -20%);
    }

    .error ~ .contact-button {
        margin-top: 0.18rem;
        height: 100%;
    }

    .contact-input {
        width: 100%;
    }

    .contact-button {
        padding: 1.3rem 2rem;
    }
}

/***************************/
/* BELOW 736px (Tablets) */
/***************************/

@media (max-width: 46em) {
    .footer {
        height: 100%;
        padding: 5rem 0;
    }

    .container--footer {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        row-gap: 5.5rem;
    }

    .logo-footer {
        justify-self: center;
    }

    .nav--footer {
        justify-self: center;
    }

    .nav--footer > .main-nav-list {
        flex-direction: column;
        gap: 5rem;
    }

    .nav--footer .main-nav-link {
        font-size: 2.3rem;
    }
}

/***************************/
/* BELOW 544px (Phones) */
/***************************/

@media (max-width: 34em) {
    .container--features-menu {
        padding: 0 8rem;
    }

    .container--faq-questions {
        padding: 0 3rem;
    }

    .detail-text-box {
        margin-top: 5rem;
    }
}

/***************************/
/* BELOW 441px (Small Phones) */
/***************************/

@media (max-width: 27.62em) {
    .heading-primary {
        font-size: 3.5rem;
    }

    .text-description {
        font-size: 2rem;
    }

    .btn,
    .btn:link,
    .btn:visited {
        font-size: 1.5rem;
    }

    .selected-page > .features-menu-link::before {
        height: 110%;
    }
}

/***************************/
/* BELOW 390px (Super Small Phones) */
/***************************/

@media (max-width: 24.375em) {
    .container--header, .container--detail-menu {
        padding: 0 3rem;
    }

    .container--hero {
        padding: 0 2rem;
    }

    .container--features-menu {
        padding-bottom: 10rem;
    }

    .input-form.error::after {
        left: 85%;
    
        transform: translate(70%, -20%);
    }
}