* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    overflow-x: hidden;
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: hsl(229, 8%, 60%);

    overflow-x: hidden;
}

.header {
    height: 12rem;
    position: relative;
}

.container {
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
}

.container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav[name="menu"] {
    height: 2rem;
    width: 2.5rem;
}

.icon-mobile-nav[name="close"] {
    height: 2rem;
    width: 2.2rem;
}

.main-nav-list {
    list-style: none;
    
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-links.icon-nav {
    display: none;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: hsl(229, 31%, 21%);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.main-nav-link:hover,
.main-nav-visited:visited {
    color: hsl(0, 94%, 66%) !important;
}

.nav--login {
    background-color:  hsl(0, 94%, 66%);
    color: hsl(0, 0%, 100%) !important;
    padding: 1.2rem 3rem;
    border-radius: 5px;
}

.nav--login:hover,
.nav--login:active,
.contact-button:hover,
.contact-button:active {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 94%, 66%) !important;
    box-shadow: 0 0 0 2px hsl(0, 94%, 66%);
    cursor: pointer;
}

.text--white {
    color: #cccccc00 !important;
}

.hero-section {
    padding: 5rem 0;
}

.container--hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9.6rem;
}

.heading-primary {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    color: hsl(229, 31%, 21%);
    margin-bottom: 3rem;
}

.text-description {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1.6rem 2.5rem;
}

.btn--chrome, .btn--detail {
    background-color: hsl(231, 69%, 60%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    margin-right: 1.5rem;
}

.btn--chrome:hover,
.btn--chrome:active {
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 69%, 60%) !important;
    box-shadow: 0 0 0 2px hsl(231, 69%, 60%);
}

.btn--firefox {
    background-color: hsl(225, 18%, 91%);
    color: hsl(229, 31%, 21%);
    border-radius: 4px;
    box-shadow: 0 4px 2px -2px hsl(0, 0%, 77%);
}

.btn--firefox:hover,
.btn--firefox:active {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 0 2px hsl(229, 31%, 21%);
}

.hero-img-box {
    position: relative;
}

.hero-img-box::after {
    content: "";
    display: block;
    position: absolute;

    top: 30%;
    right: -60%;
    transform: translate(12%, 2%);

    width: 140%;
    padding-top: 60%;
    background-color: hsl(231, 69%, 60%);

    border-bottom-left-radius: 35%;

    z-index: -1;
}

.hero-img {
    width: 115%;
}

.features-section {
    padding: 5rem 0;
}

.container--features-description,
.container--extension-description,
.container--faq-description {
    padding: 0 32rem;
    text-align: center;
    margin-bottom: 5rem;
}

.heading-secondary {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: hsl(229, 31%, 21%);
    margin-bottom: 2rem;
}

.container--features-menu {
    max-width: 80rem !important;
    margin: 0 auto;
    border-bottom: 1px solid hsl(0, 0%, 77%);
}

.features-menu-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.menu-links {
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    /* transform: translateY(0.2rem); */
    transition: all 0.3s;
}

.menu-links.selected-page {
    outline: none;
    box-shadow: 0 -6px 0px -0.2rem hsl(0, 94%, 66%) inset;
}

.menu-links.selected-page .features-menu-link:link,
.menu-links.selected-page .features-menu-link:visited {
    cursor: default;
}

.features-menu-link {
    text-decoration: none;
    font-size: 1.9rem;
    color: hsl(228, 6%, 51%);
}

.features-menu-link:hover,
.features-menu-link:active {
    color: hsl(0, 94%, 66%);
}

.selected-page > .features-menu-link {
    color: hsl(229, 31%, 21%);
}

.container--detail-menu {
    padding: 7rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9.6rem;
}

.detail-img-box {
    position: relative;
}

.detail-img-box::after {
    content: "";
    display: block;
    position: absolute;

    top: 20%;
    left: -63%;
    transform: translate(-12%, 5%) rotate(180deg);

    width: 170%;
    padding-top: 65%;
    background-color: hsl(231, 69%, 60%);

    border-top-left-radius: 37%;

    z-index: -1;
}

.features-tab-img {
    width: 100%;
}

.detail-text-box {
    max-width: 47rem;
}

.extension-section {
    padding: 10rem 0;
}

.container--extension-list {
    max-width: 95rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.extension {
    box-shadow: 0 1.5rem 1.5rem rgb(83, 104, 223, 0.085);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firefox {
    transform: translateY(10%);
}

.opera {
    transform: translateY(20%);
}

.extension-header {
    width: 100%;
    padding: 5rem 0;
    text-align: center;
}

.extension-title {
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    font-size: 1.9rem;
    font-weight: 700;
    color: hsl(229, 31%, 21%);
}

.extension-version {
    font-size: 1.4rem;
    color: hsl(0, 0%, 77%);
}

.extension-footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 2rem 0 2.5rem 0;
}

.extension-footer::before {
    content: "";
    display: block;
    position: absolute;

    background-image: url('../images/bg-dots.svg');
    background-repeat: no-repeat;
    background-size: contain;
    top: -10%;
    left: 5%;
    transform: translateX(-5%);
    width: 100%;
    padding-top: 2%;
}

.extension-link:link,
.extension-link:visited {
    display: inline-block;
    text-decoration: none;
    background-color: hsl(231, 69%, 60%);
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    padding: 1.7rem 4rem;
    border-radius: 6px;
}

.extension-link:hover,
.extension-link:active {
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 69%, 60%);
    box-shadow: 0 0 0 2px hsl(231, 69%, 60%);
}

.faq-section {
    padding: 13rem 0 7rem 0;
}

.container--faq-questions {
    max-width: 56rem !important;
    margin: 0 auto;
}

.question-list {
    border-bottom: 1px solid hsla(230, 10%, 76%, 0.65);
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
    margin-bottom: 1rem;
    padding: 2rem 0;
}

.question-list:hover,
.question-list:active,
.question-title:hover,
.question-title:active {
    cursor: pointer;
    color: #fa5757;
}

.question-list:first-child {
    border-top: 1px solid hsla(230, 10%, 76%, 0.65);
}

.question-list:not(:first-child) {
    padding-top: 1.5rem;
}

.question-title {
    font-size: 1.7rem;
    line-height: 1.5;
    color: hsl(229, 31%, 21%);
}

.question-icon {
    width: 90%;
    padding-right: 1.5rem;
}

.opened .question-icon {
    padding-right: 0 !important;
    padding-left: 1.5rem;
    transform: rotate(180deg);
    filter: invert(42%) sepia(44%) saturate(4094%) hue-rotate(334deg) brightness(114%) contrast(95%);
}

.question-answer {
    display: none;
}

.opened .question-answer {
    display: block;
}

.question-answer {
    grid-column: 1 / -1;
}

.question-answer p {
    font-size: 1.7rem;
    line-height: 2;
    color: hsl(228, 6%, 51%);
}

.link-info {
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info {
    text-decoration: none;
    font-size: 1.3rem;
    background-color: hsl(231, 69%, 60%);
    color: hsl(0, 0%, 100%);
    padding: 1.5rem 2rem;
    border-radius: 5px;
}

.contact-section {
    background-color: hsl(231, 69%, 60%);
    padding: 6rem 0;
}

.container--contact {
    max-width: 50rem !important;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: center;
}

.contact-joined {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3.5rem;
    letter-spacing: 0.5rem;
}

.contact-description {
    font-size: 2.7rem;
    font-weight: 400;
    line-height: 1.3;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3rem;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
}

.input-form {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 6px;
}

.contact-input {
    padding: 1.2rem 2rem;
    width: 100%;
    border-radius: 4px;
    border: none;
}

.error-message {
    display: none;
}

.contact-button {
    padding: 0 2rem;
    background-color: hsl(0, 94%, 66%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border: none;
}

.input-form.error {
    background-color: hsl(0, 94%, 66%);
    position: relative;
    padding: 0.25rem;
}

.input-form.error::after {
    content: "";
    display: block;
    position: absolute;

    background-image: url('../images/icon-error.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 2rem;
    height: 2rem;

    top: 25%;
    left: 85%;

    transform: translate(30%, -20%);
}

.error .contact-input {
    padding: 1.2rem 4rem 1.2rem 2rem ;
}

.input-form.error .error-message {
    display: block;
    font-size: 1.3rem;
    padding: 0.8rem 1rem 0.5rem;
    color: hsl(0, 0%, 100%);
    font-style: italic;
}

.error ~ .contact-button {
    margin-top: 0.18rem;
    height: 60%;
}

.footer {
    height: 9rem;
    background-color: hsl(229, 31%, 21%);
    margin-top: auto;
}

.container--footer {
    display: grid;
    grid-template-columns: 2fr 7.2fr auto;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

.logo-footer {
    justify-self: end;
}

.nav--footer .main-nav-link {
    color: hsl(0, 0%, 100%);
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.icon-nav-link:hover > img,
.icon-nav-link:active > img,
.footer-link:hover > img,
.footer-link:active > img {
    filter: invert(42%) sepia(44%) saturate(4094%) hue-rotate(334deg) brightness(114%) contrast(95%);
}